In [3]:
#1)Write a Python program to loop through all the elements in a list
x=[1,2,3,4,5,6]
z=1
while z<=len(x):
    print(z)
    z=z+1

1
2
3
4
5
6

In [37]:
#2)Write a Python program where you will ask the users to insert elements in a list
y=[]
a=int(input("number of elements to insert into a list:"))
for x in range(1,a+1):
     b=input("enter elements to insert:")
     y.append(b)
print(y)

number of elements to insert into a list:3
enter elements to insert:12
enter elements to insert:87
enter elements to insert:54
['12', '87', '54']

In [1]:
#3. Write a Python program to remove all the odd index value from a list and only even index elements should remain
l=[1,2,3,4,5,6,7]
l[::2]

[1, 3, 5, 7]

In [23]:
# 4)Write a Python program to sum and multiply all the items in a list
y=[4,8,10,35,67]
sum1=0
product=1
for x in y:
    totalsum+=x
    totalproduct*=x
print("sum:",totalsum)
print("product:",totalproduct)

sum: 191
product: 54028800

In [7]:
#5) Write a Python program to get the maximum and minimum numbers from a list
y=[45,-23,89,-123,67]
y.sort()
print("minimum value is:",y[0])
print("maximum number is:",y[-1])

minimum value is: -123
maximum number is: 89

In [77]:
#6. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
l=[]
x=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

for y in range(0,len(x)):
    if y!=0 and y!=4 and y!=5:
        l.append(x[y])
    else:
        continue
print(l)

['Green', 'White', 'Black']

In [9]:
#7. Write a Python program to convert a list of characters into a string
x=["a","b",1,2,3]
for y in x:
    print(y,end=" ")
    y=str(y)
    
type(y)

a b 1 2 3

str

In [7]:
#8. Write a Python program to compute average of given lists.
l=[1,2,3,4,5]
num=len(l)
avg=0
for x in l:
    avg+=x/num
print(avg)

3.0

In [4]:
#9. Write a Python program to count integer in a given mixed list.
x=["a",21,-19.8,34,56]
count=0
for y in x:
    print(type(y))
    if type(y)==int or type(y)==float:
        count+=1
        
print(count)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'int'>
<class 'int'>
4

In [5]:
#10. Write a Python program to reverse the list 
x=[23,"a","@",78.9,2+0j]
x.reverse()
x

[(2+0j), 78.9, '@', 'a', 23]

In [6]:
#11. Write a Python program convert a given string to a tuple
l=[]
str1="python programming langunage"
for y in str1:
    l.append(y)
final_result=tuple(l)
print(final_result)
type(final_result)

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'l', 'a', 'n', 'g', 'u', 'n', 'a', 'g', 'e')

tuple