In [22]:
#1 Create a function that takes a boolean variable flag and returns it as a string.
#Examples
#bool_to_string(True) ➞ "True"
#bool_to_string(False) ➞ "False"

def bool_to_string(flag):
    return flag

In [23]:
a="True"
b=bool_to_string(a)
str(b)

'True'

In [24]:
#2 Create a function that returns True when num1 is equal to num2; otherwise return False.
#Examples
#is_same_num(4, 8) ➞ False
#is_same_num(2, 2) ➞  True
#is_same_num(2, "2") ➞ False

def f1(num1,num2):
    if num1==num2:
        return "True"
    else:
        return "False"

In [25]:
print(f1(3,"3"))
print(f1(3,3))

False
True

In [26]:
#3 Create a function that takes a number as its only argument and returns True if it's less than or equal to zero, otherwise return False.
#Examples
#less_than_or_equal_to_zero(5) ➞ False
#less_than_or_equal_to_zero(0) ➞ True
#less_than_or_equal_to_zero(-2) ➞ True
 
def f2(num):
    return num<=0

In [27]:
print(f2(-3))
print(f2(5))

True
False

In [28]:
#4 Emmy has written a function that returns a greeting to users. However, she's in love with Mubashir, and would like to greet him slightly differently. She added a special case in her function, but she made a mistake. Can you help her?
#Examples
#greeting("Matt") ➞ "Hello, Matt!"
#greeting("Helen") ➞ "Hello, Helen!"
#greeting("Mubashir") ➞ "Hello, my Love!"

def greeting(name):
    if name=="Mubashir":
        return "Hello, my love"
    else:
        return "Hello, "+name+"!"

In [29]:
print(greeting("Matt"))
print(greeting("Helen"))
print(greeting("Mubashir"))

Hello, Matt!
Hello, Helen!
Hello, my love

In [30]:
#5 Create a function that takes two arguments. Both arguments are integers, a and b. Return True if one of them is 10 or if their sum is 10.
#Examples
#makes10(9, 10) ➞ True
#makes10(9, 9) ➞ False
#makes10(1, 9) ➞ True

def values(a,b):
    if a==10 or b==10 or a+b==10:
        return True
    else: 
        return False

In [31]:
print(values(2,8))
print(values(1,7))

True
False

In [32]:
#6 Create a function that takes three arguments prob, prize, pay and returns True if prob * prize > pay; otherwise return False.
#To illustrate:profitable_gamble(0.2, 50, 9)
#... should yield True, since the net profit is 1 (0.2 * 50 - 9), and 1 > 0.

def profitable_gamble(prob,prize,pay):
    if prob*prize>pay:
        return True
    else:
        return False

In [33]:
profitable_gamble(0.2,50,9)

True

In [34]:
#7 Create a function that takes an integer and returns True if it's divisible by 100, otherwise return False.
#Examples
#divisible(1) ➞ False
#divisible(1000) ➞ True
#divisible(100) ➞ True

def divisible(x):
    if x%100==0:
        return True
    else:
        return False

In [35]:
print(divisible(300))
print(divisible(345))

True
False

In [36]:
#8 Create a function that takes two strings as arguments and return either True or False depending on whether the total number of characters in the first string is equal to the total number of characters in the second string.
#Examples
#comp("AB", "CD") ➞ True
#comp("ABC", "DE") ➞ False
#comp("hello", "edabit") ➞ False

def hello(x,y):
    if len(x)==len(y):
        return True
    else:
        return False

In [37]:
print(hello("ab","cd"))
print(hello("abc","de"))

True
False

In [38]:
#9 Given a string, return True if its length is even or False if the length is odd.
#Examples
#odd_or_even("apples") ➞ True
# The word "apples" has 6 characters.
# 6 is an even number, so the program outputs True.

#odd_or_even("pears") ➞ False
# "pears" has 5 letters, and 5 is odd.
# Therefore the program outputs False.

def s(name):
    if len(name)%2==0:
        return True
    else:
        return False

In [39]:
print(s("varshini"))
print(s("tommy"))

True
False

In [40]:
#10 Create a function that takes a string; we'll say that the front is the first three characters of the string. If the string length is less than three characters, the front is whatever is there. Return a new string, which is three copies of the front.
#Examples
#front3("Python") ➞ "PytPytPyt"
#front3("Cucumber") ➞ "CucCucCuc"
#front3("bioshock") ➞ "biobiobio"
 
def string(front):
    if len(front)>3:
        return (front[:3]*3)
    else:
        return front

In [41]:
print(string("varshini"))
print(string("cat"))

varvarvar
cat

In [42]:
#11 Darts is a target game played by throwing feathered darts at a circular board with numbered spaces. Our darts game is the simplest of all games. The score of a single turn is calculated based on the distance from the middle. You need to create a function that takes the dart location as two cartesian coordinates (x, y) and returns a score based on the distance from the middle, aka Bullseye (x=0, y=0).
#Bullseye and inner circle scores = 10 points
#Middle ring scores = 5 points
#Outer ring scores = 1 point
#Outside the target = 0 points
#We play it simple so a dart in the double or treble ring counts as usual and does not affect the segment score.
#Board and circle radius is as follows:
#Board radius and outer circle radius = 10 units
#Middle circle radius = 5 units
#Inner circle radius = 1 unit
#Short Description
#Convert cartesian coordinates (x, y) to polar coordinates (R, phi) and return the score based on the R value. R > 10 gives 0 points, 10 >= R > 5 gives 1 point, 5 >= R > 1 gives 5 points, R <= 1 gives 10 points.
#Examples
#darts_scoring(0, 0) ➞ 10
#darts_scoring(3, 2) ➞ 5
#darts_scoring(0, -0.8) ➞ 10

def game(x, y):
    distance = (x ** 2 + y ** 2) ** 0.5
    if distance <= 1:
        return 10
    elif distance <= 5:
        return 5
    elif distance <= 10:
        return 1
    else:
        return 0

In [43]:
print(game(0,0))
print(game(3,2))
print(game(0,-0.5))

10
5
10

In [44]:
#12 Write a function that returns True if a year is a leap, otherwise return False.
#A year is a "leap year" if it lasts 366 days, instead of 365 in a typical year. That extra day is added to the end of the shortest month, creating February 29.
#A leap year occurs every four years, and will take place if the year is a multiple of four. The exception to this is a year at the beginning of a century (for example, 1900 or 2000), where the year must be divisible by 400 to be a leap year.
#Look at the examples, and if you need help, look at the resources panel.
#Examples
#leap_year(1990) ➞ False
#leap_year(1924) ➞ True
#leap_year(2021) ➞ False

def leap_year(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

In [45]:
print(leap_year(1924))
print(leap_year(1990))
print(leap_year(2023))

True
False
False

In [100]:
#13 Create a function that takes an array of hurdle heights and a jumper's jump height, and determine whether or not the hurdler can clear all the hurdles.A hurdler can clear a hurdle if their jump height is greater than or equal to the hurdle height.
#Examples
#hurdle_jump([1, 2, 3, 4, 5], 5) ➞ True
#hurdle_jump([5, 5, 3, 4, 5], 3) ➞ False
#hurdle_jump([5, 4, 5, 6], 10) ➞ True
#hurdle_jump([1, 2, 1], 1) ➞ False

def hurdle_jump(hurdle_heights,jump_height):
    for x in hurdle_heights:
        if x>jump_height:
            return "False"
       
    return "True"

In [101]:
print(hurdle_jump([1,2,3,4,5],5))
print(hurdle_jump([5,5,3,4,5],3))
print(hurdle_jump([5,4,5,6],10))
print(hurdle_jump([1,2,1],1))

True
False
True
False

In [109]:
#14 Create a function that takes a number (from 1 to 12) and returns its corresponding month name as a string. For example, if you're given 3 as input, your function should return "March", because March is the 3rd month.

def month(m):
    months=["January","February","March","April","May","June","July","August","September","October","November","December"]
    if 1<=m<=12:
        return months[m-1]
    else:
        return "invalid"

In [112]:
month(12)

'December'

In [177]:
#15 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only identical elements.
#(at the end)

In [123]:
#16 A bartender is writing a simple program to determine whether he should serve drinks to someone. He only serves drinks to people 18 and older and when he's not on break. Given the person's age, and whether break time is in session, create a function which returns whether he should serve drinks.

def drinks(age):
    if age>=18:
        return "should_serve_drinks,True"
    else:
        return "should_serve_drinks,False"

In [124]:
print(drinks(26))
print(drinks(17))

should_serve_drinks,True
should_serve_drinks,False

In [135]:
#17 You will need to write three unfinished logic gates. Continue to write the three logic gates: AND, OR, and NOT.

def logical1(l,m):
    if l==m==1 :
        return 1
    elif l==m==0:
        return 0
def logical2(l1,m1):
    if l1==m1==1:
        return 1
    elif l1==1 or m1==0:
        return 1
def logical3(l2):
    if l2!=0:
        return 1
    else:
        return 0

In [136]:
print(logical1(1,1))
print(logical1(0,0))
print(logical2(1,1))
print(logical2(1,0))
print(logical3(1))
print(logical3(0))

1
0
1
1
1
0

In [141]:
#18 Write a function that accepts base (decimal), height (decimal) and shape ("triangle", "parallelogram") as input and calculates the area of that shape.

def area(base,height):
    return 1/2*base*height
def area1(base,height):
     return base*height

In [142]:
print("area of triangle is:",area(2,3))
print("area of parallelogram is:",area1(8,6))

area of triangle is: 3.0
area of parallelogram is: 48

In [155]:
#19 Create a function that takes a string (a random name). If the last character of the name is an "n", return True, otherwise return False.

def s(name):
    if name[-1]=="n":
        return "True"
    else:
        return "False"

In [157]:
print(s("cbwhdn"))
print(s("cbwhde"))

True
False

In [5]:
#20 Create a function that takes in a word and determines whether or not it is plural. A plural word is one that ends in "s".

def plural(word):
    if word[-1]=="s":
        return "True"
    else:
        return "False"

In [6]:
print(plural("bat"))
print(plural("bats"))

False
True

In [163]:
#21 Create a function that takes a number as an argument and returns "even" for even numbers and "odd" for odd numbers.

def f1(num):
    if num%2==0:
        return "even"
    else:
        return "odd"

In [167]:
print(f1(3))
print(f1(8))

odd
even

In [175]:
#15 Create a function that takes in a two-dimensional list and returns the number of sub-lists with only identical elements.

def identical(lst):
    count = 0
    for sub_lst in lst:
        if len(set(sub_lst)) == 1:
            count += 1
    return count

In [176]:
print(identical([[1], [2], [3], [4]]))           
print(identical([[1, 2], [2, 3], [3, 4], [4, 4]]))             
print(identical([[True, True, True], [False, False], [True]]))

4
1
3